.background-container{
  height: calc(100% - 50px);
  background-image: url("../../../assets/images/landing.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}
.label-text{
  margin-right: 50px;
  color: white;
  text-align: right;
}
.logo-image-style{
  max-height: 100px;
  max-width: 300px;
  position: absolute;
  top: 20px;
  right: 50px;
}
