<!--<div class="background-container">LANDING PAGE-->
<!--</div>-->
<div class="ui-g-12 background-container">
<div class="ui-g-12" style="height: 30%;"></div>
  <div class="ui-g-12" style="height: 20%;">
    <h1 class="label-text">WELCOME TO THE RETAIL HUB</h1>
    <h5 class="label-text" style="font-weight: 400;">ACTIONABLE SHOPPER INSIGHTS TO PLAN YOUR NEXT MOVE</h5>
  </div>
  <div class="ui-g-12" style="height: 20%;">
    <!--<h4 class="label-text" style="font-weight: 300">Leverage shopper behavior to plan<br>your next move and grow sales. </h4>-->
  </div>
  <div class="ui-g-12" style="height: 30%; position: relative">
    <img class="logo-image-style" src="../../../assets/images/catalina-login-logo.png">
  </div>
</div>
