<div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true, delay: 200, minDuration: 600}"></div>
<div class="ui-g-12">
  <div class="ui-g-3"></div>
  <div class="ui-g-9">
    <p-selectButton class="button-center" [options]="selectedViews" [(ngModel)]="currentViewCalendar"></p-selectButton>
  </div>
</div>
<div class="ui-g-12 clear">
  <div class="ui-g-3">
    <p-multiSelect [options]="availableSources"
                   [defaultLabel]="'Source'"
                   [filterPlaceHolder]="'Source'"
                   [(ngModel)]="selectedSources"
                   (onChange)="updateFilteredData()"
                   autoWidth="false"
                   [maxSelectedLabels]="100"
                   [style]="{'width':'100%', 'margin-bottom': '10px'}">
    </p-multiSelect>
    <p-multiSelect [options]="availableCategories"
                   [defaultLabel]="'Category'"
                   [filterPlaceHolder]="'Category'"
                   [(ngModel)]="selectedCategories"
                   (onChange)="updateFilteredData()"
                   autoWidth="false"
                   [maxSelectedLabels]="100"
                   [style]="{'width':'100%', 'margin-bottom': '10px'}">
    </p-multiSelect>
    <p-multiSelect [options]="availableManufacturers"
                   [defaultLabel]="'Manufacturer'"
                   [filterPlaceHolder]="'Manufacturer'"
                   [(ngModel)]="selectedManufacturers"
                   (onChange)="updateFilteredData()"
                   autoWidth="false"
                   [maxSelectedLabels]="100"
                   [style]="{'width':'100%', 'margin-bottom': '10px'}">
    </p-multiSelect>
    <!--<p-multiSelect [options]="availableBrands"-->
                   <!--[defaultLabel]="'Brand'"-->
                   <!--[filterPlaceHolder]="'Brand'"-->
                   <!--[(ngModel)]="selectedBrands"-->
                   <!--(onChange)="updateFilteredData()"-->
                   <!--autoWidth="false"-->
                   <!--[maxSelectedLabels]="100"-->
                   <!--[style]="{'width':'100%', 'margin-bottom': '10px'}">-->
    <!--</p-multiSelect>-->
    <p-multiSelect [options]="availableChains"
                   [defaultLabel]="'Chain'"
                   [filterPlaceHolder]="'Chain'"
                   [(ngModel)]="selectedChains"
                   (onChange)="updateFilteredData()"
                   autoWidth="false"
                   [maxSelectedLabels]="100"
                   [style]="{'width':'100%', 'margin-bottom': '10px'}">
    </p-multiSelect>
    <!--<p-multiSelect [options]="activeOptions"-->
                   <!--[defaultLabel]="'Active'"-->
                   <!--[filterPlaceHolder]="'Active'"-->
                   <!--[(ngModel)]="selectedActive"-->
                   <!--(onChange)="updateFilteredData()"-->
                   <!--autoWidth="false"-->
                   <!--[maxSelectedLabels]="100"-->
                   <!--[style]="{'width':'100%', 'margin-bottom': '10px'}">-->
    <!--</p-multiSelect>-->
    <p-calendar #datePicker showButtonBar="true" [style]="{'width':'calc(100% - 30px)', 'margin-bottom': '10px'}" [inputStyle]="{'width':'calc(100% - 0px)'}"
                [(ngModel)]="selectedDates" selectionMode="range" [readonlyInput]="false"
                [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"
                (onClearClick)="updateFilteredData()" [showIcon]="true"
                placeholder="Offer Start Date Range" (onClose)="updateFilteredData()"></p-calendar>
    <p-calendar #activePicker showButtonBar="true" [style]="{'width':'calc(100% - 30px)'}" [inputStyle]="{'width':'calc(100% - 0px)'}"
                [(ngModel)]="selectedDate" selectionMode="single" [readonlyInput]="false"
                [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"
                (onClearClick)="updateFilteredData()" (onSelect)="updateFilteredData()" [showIcon]="true"
                placeholder="Active On Date" (onClose)="updateFilteredData()"></p-calendar>
    <div class="ui-g-12"><hr></div>

    <div class="ui-g-12" style="width:100%;margin-bottom:10px">
      <div *ngIf="noInactives == false" class="ui-g-12" style="margin-bottom: 20px"><p-selectButton class="button-center" [options]="activeOptions" [(ngModel)]="selectedActive" (onChange)="updateFilteredData()"></p-selectButton></div>
      <!--<div class="ui-g-12"><p-checkbox label="Active" [(ngModel)]="filterActive" binary="true" (onChange)="updateFilteredData()"></p-checkbox></div>-->
      <div class="ui-g-12"><p-checkbox class="custom-checkbox" [disabled]="noFreeOffers" label="Free" [(ngModel)]="filterFree" binary="true" (onChange)="updateFilteredData()"></p-checkbox></div>
      <div class="ui-g-12"><p-checkbox class="custom-checkbox" [disabled]="noAdvertisedOffers" label="Advertised" [(ngModel)]="filterAdvertised" binary="true" (onChange)="updateFilteredData()"></p-checkbox></div>
      <div class="ui-g-12"><p-checkbox class="custom-checkbox" [disabled]="noAccountSpecificOffers" label="Account Specific" [(ngModel)]="filterAccountSpecific" binary="true" (onChange)="updateFilteredData()"></p-checkbox></div>
      <div class="ui-g-12"><p-checkbox class="custom-checkbox" [disabled]="noCCMOffers" label="CCM" [(ngModel)]="filterCCM" binary="true" (onChange)="updateFilteredData()"></p-checkbox></div>
      <div class="ui-g-12"><hr></div>

      <div *ngIf="filteredOffers.length > 0" class="ui-g-12" style="margin: auto" >
        <button id="exportButton"pButton type="button" (click)="exportButtonPressed()" icon="fa-th" label="Export"></button>

      </div>
    </div>
  </div>
  <div class="ui-g-9">
    <div class="ui-g-12" *ngIf="currentViewCalendar; else grid">
      <app-forecast-calendar [data]="filteredOffers" (viewChange)="updateFromChild($event)" ></app-forecast-calendar>
    </div>
    <ng-template class="ui-g-12" #grid><app-forecast-grid [dataArray]="filteredOffers"></app-forecast-grid></ng-template>
  </div>
</div>
