<div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true, delay: 200, minDuration: 600}"></div>
<div #sideMenu class="slideout-container">
  <div class="ui-g-12" style="position: relative; margin: 0px; padding: 0px">
      <div class="ui-g-12" style="position: relative; height: 100px"><img class="retialerLogo" [src]="getRetailerLogo()"></div>
    <div class="ui-g-12" style="margin-top: 20px;">
      <h4 style="text-align: center">{{user.profile.firstName}} {{user.profile.lastName}}</h4>
    </div>
    <div class="ui-g-12"><hr></div>
    <div class="ui-g-12 link-container">
      <app-accordion *ngIf="user.profile.availableRetailers" (buttonPressed)="retailerSelected($event)" [data]="user.profile.availableRetailers"></app-accordion>
      <!--<div class="link-style" (click)="editProfileButtonPressed()"><i class="fa fa-user-circle-o"></i> Edit Profile</div>-->
      <div class="link-style" onclick="window.open('https://sspr.catalinamarketing.com/', '_blank')"><i class="fa fa-unlock"></i> Change Password</div>
      <div class="link-style" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</div>
    </div>
  </div>
</div>

