<div *ngFor="let accordion of data; let i = index;" class="tab">
  <input value="{{accordion.label}}" id="{{'button' + i}}" type="checkbox" name="i" (click)="accordionButtonPressed(accordion.label)" >
  <label for="{{'button' + i}}">{{accordion.label}}</label>
  <div class="tab-content">
    <label class="report-label" *ngFor="let button of accordion.data" (click)="tabButtonClicked(button.value)">
      <i class="fa fa-arrow-right" style="font-weight:normal;margin-right:8px;"></i>{{button.label}}
    </label>
  </div>
</div>
