.tab {
  position: relative;
  width: 100%;
  overflow: hidden;
  font-size: large;
  background: white;
  color: black;


}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  background: #3e567b;

}
label {
  position: relative;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0 0 0 1em;
  line-height: 3;
  cursor: pointer;
}
.tab-content {
  height: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

input:checked ~ .tab-content {
  height: auto;
}
/* Icon */
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
input[type=checkbox] + label::after {
  margin-right: 10px;
  content: "\25BC";
}
input[type=checkbox]:not(:checked) + label::after {
  transform: rotate(270deg);
}
input[type=checkbox]:checked + label::after {
  transform: rotate(360deg);
}
input[type=checkbox]:checked + label {
  background: #3e567b;
  color: white;
}
.report-label{
  font-weight:normal;
  display:block;
  background: white;
  color: black;
  font-size: small;
  border-bottom: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.report-label:hover{
  color: #3e567b;
  background-color: #f5f5f5;
  cursor: pointer;
}
input[type=checkbox]:not(:checked) + label:hover{
  color: #3e567b;
  background-color: #f5f5f5;
  cursor: pointer;
}
@media only screen and (max-device-width : 1024px) {
  .tab { font-size: 14pt; }
}
@media only screen and (max-device-width : 768px) {
  .tab { font-size: 12pt; }
}
