
.cell-totals {
  margin: 5px;
  text-align: center;
}
.badge {
  margin-right: 5px;
}
.cal-disabled {
  background-color: #eee;
  pointer-events: none;
}

.cal-disabled .cal-day-number {
  opacity: 0.1;
}
.calendar-container{
  background-color: white;

  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.filter-container{
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.cal-days{
  background-color: white;
}

.cal-title-label{
  font-size: 25px;
}
/*.color-map-blue:first-letter{*/
  /*color: #1a74ba;*/
/*}*/
/*.color-map-orange:first-letter{*/
  /*color: #fc6921;*/
/*}*/
/*.color-map-green:first-letter{*/
  /*color: #a5da00;*/
/*}*/
/*.color-map-darkblue:first-letter{*/
  /*color: #4000ec;*/
/*}*/
.buttonBlueBorder{
  background-color: #3e567b;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 20px;
  margin-bottom: 15px;
}
.buttonBlueBorder.active.focus,
.buttonBlueBorder.active:focus,
.buttonBlueBorder.focus,
.buttonBlueBorder.focus:active,
.buttonBlueBorder:active:focus,
.buttonBlueBorder:focus {
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}
