<div class="ui-g row text-center" style="padding-bottom: 20px">
  <div class="ui-g-4 text-right">
    <button class="buttonBlueBorder" (click)="decrement()">&#9664;</button>
  </div>
  <div class="ui-g-4 text-center cal-title-label">
    {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
  </div>
  <div class="ui-g-3 text-left">
    <button class="buttonBlueBorder" (click)="increment()">&#9654;</button>
  </div>
</div>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top" >
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0" style="background-color: #3e567b">{{ day.badgeTotal }}</span>
    <!--<span class="cal-day-badge" style="background-color: #3e567b" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal | number:'1.0-0' }}</span>-->
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cell-totals">
    <!--<span-->
      <!--*ngFor="let group of day.eventGroups" pTooltip="{{group[0]}}" tooltipPosition="top"-->
      <!--class="badge badge-{{ group[0] }}">-->
      <!--{{ group[1].length }}-->
    <!--</span>-->
<span
  *ngFor="let group of day.eventGroups" pTooltip="{{group[0]}}" tooltipPosition="top"
  placement="top" (click)="eventClicked(group)" [style.background-color]="getColorForSource(group)" style="cursor: pointer"
  class="badge badge-{{ group[0] }}">
{{ group[1].length }}
</span>
  </div>
</ng-template>



<div [ngSwitch]="view" style="background-color:white;">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="data"
    [cellTemplate]="customCellTemplate"
    (beforeViewRender)="beforeMonthViewRender($event)"
    (dayClicked)="dayClicked($event.day)"
    [activeDayIsOpen]="false">
  </mwl-calendar-month-view>
</div>
