.col-icon {
  width: 38px;
  text-align: center;
}
.couponImage {
  display: block;
  margin: auto;
}
.vertical-center{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.exportButton{
  background: #3e567b;
  border-color: black;
  height: 40px;
}
.exportButtonContainer{
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
