<div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true, delay: 200, minDuration: 600}"></div>
<p-dataTable #offerTable [value]="dataArray" [rows]="10" [paginator]="true"
             [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" expandableRows="true"
             [tableStyle]="{'table-layout':'auto'}" (onRowExpand)="loadImageURL($event)">
  <p-column expander="true" styleClass="col-icon"></p-column>
  <p-column field="promotionNumber" header="Promotion" [sortable]="true"></p-column>
  <p-column field="manufacturer" header="Manufacturer" [sortable]="true"></p-column>
  <p-column field="category" header="Category" [sortable]="true"></p-column>
  <p-column field="value" header="Value" [sortable]="true">
    <ng-template let-col let-offer="rowData" pTemplate="body">
      <span>{{offer[col.field] | currency:'USD':'symbol':'1.2-2'}}</span>
    </ng-template>
  </p-column>
  <p-column field="type" header="Type" [sortable]="true"></p-column>
  <p-column field="objective" header="Strategy" [sortable]="true"></p-column>
  <p-column field="start" header="Start" [sortable]="true">
    <ng-template let-col let-offer="rowData" pTemplate="body">
      <span>{{offer[col.field] | date:'shortDate'}}</span>
    </ng-template>
  </p-column>
  <p-column field="endDate" header="End" [sortable]="true">
    <ng-template let-col let-offer="rowData" pTemplate="body">
      <span>{{offer[col.field] | date:'shortDate'}}</span>
    </ng-template>
  </p-column>
  <ng-template let-offer pTemplate="rowexpansion">
    <!--<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">-->
      <!--<div class="ui-grid-row">-->
        <div class="ui-g-12" style="height: 225px">
          <div class="ui-g-8" style="border-right: 1px black solid">
            <img *ngIf="offer.imageURL" class="couponImage" [src]="offer.imageURL" style="height: 200px; max-width: 100%">
          </div>
          <div class="ui-g-4" style="height: 225px; position: relative">
            <div class="vertical-center">
              <div *ngIf="offer.showTriggeringUPCs" class="exportButtonContainer">
                <button class="exportButton" pButton type="button" (click)="downloadUPCsButtonPressed(offer.promotionNumber, true)" icon="fa-download" label="Export Triggering UPC's"></button>
              </div>
              <div *ngIf="offer.showValidatingUPCs" class="exportButtonContainer">
                <button class="exportButton" pButton type="button" (click)="downloadUPCsButtonPressed(offer.promotionNumber, false)" icon="fa-download" label="Export Validating UPC's"></button>
              </div>
            </div>
            <!--<div class="buttonContainer">-->
              <!--<button pButton type="button" (click)="downloadUPCsButtonPressed(offer.promotionNumber)" icon="fa-download" label="Export UPC's"></button>-->
            <!--</div>-->
          </div>
        </div>
      <!--</div>-->
    <!--</div>-->
  </ng-template>
</p-dataTable>
