.login-screen-container{
  height:100%;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}
.top-half{
  height: 50%;
  background: #3e567b;
}
.bottom-half{
  height: 50%;
  background-image: url("../../../assets/images/login-lower1.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

}
.logo-container {
  height: 50%;
  position: relative;
}
.logo-image-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo-image{
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.login-container {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
}
.ui-button.button-style {
  background: #3e567b;
  border: none;
}
.ui-button.button-style:hover{
  background: #3e567b;
  border: none;
}
