<div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true, delay: 200, minDuration: 600}"></div>
<div class="login-screen-container ui-g-12">
  <div class="ui-g-12 top-half">
    <div class="ui-g-12 logo-container">
      <div class="ui-sm-9 ui-md-7 ui-lg-5 logo-image-container">
        <img class="logo-image" src="./assets/images/catalina-login-logo.png">
      </div>
    </div>
  </div>
  <div class="ui-g-12 bottom-half"></div>
</div>
<div class="ui-sm-9 ui-md-7 ui-lg-5 login-container">
  <div class="ui-g-12" >
    <H3 style="text-align: left">Sign In</H3>
  </div>
  <div class="ui-g-12 ui-inputgroup" >
    <span class="ui-inputgroup-addon" style="background: #3e567b"><i class="fa fa-user" style="color: white"></i></span>
    <input class="form-control" style="width: 100%" type="text" pInputText placeholder="Username" id="username" #username>
  </div>
  <div class="ui-g-12 ui-inputgroup" style="margin-bottom: 10px">
    <span class="ui-inputgroup-addon" style="background: #3e567b"><i class="fa fa-unlock-alt" style="color: white"></i></span>
    <input class="form-control" style="width: 100%" type="password" pInputText placeholder="Password" id="password" #password (keyup.enter)="login(username.value, password.value)">
  </div>
  <div class="ui-g"style="float: right; margin-bottom: 10px"><a class="reset-link" target="_blank" href="https://sspr.catalinamarketing.com/sspr/private/">Password Reset</a></div>
  <hr style="width: 100%; margin-bottom: 20px">
  <button pButton class="button-style" style="float: right;" label="Sign In" (click)="login(username.value, password.value)"></button>
</div>
<app-error></app-error>


