<div [ngSwitch]="user.selectedRetailer">
  <div *ngSwitchCase="'Morrisons'"><app-forecast-morrisons></app-forecast-morrisons></div>
  <div *ngSwitchCase="'Sainsbury'"><app-forecast-sainsbury></app-forecast-sainsbury></div>
  <div *ngSwitchDefault><app-forecast-us></app-forecast-us></div>
</div>

