
<div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true, delay: 200, minDuration: 600}"></div>
<div #sideMenu class="slideout-container">
  <div class="ui-g-12" style="position: relative; margin: 0px; padding: 0px">
    <div class="ui-g-12 link-container">
      <div class="link-style" (click)="goToScreen('home')"><i class="fa fa-home"></i> Home</div>
      <div class="link-style" (click)="goToScreen('reports')"><i class="fa fa-bar-chart"></i> Reports</div>

      <!--<div class="link-style" (click)="goToScreen('forecast')"><i class="fa fa-calendar"></i> Forecast</div>-->
      <!--<p-accordion>-->
        <!--<p-accordionTab *ngFor="let folder of mstrController.historylist.data" [header]="folder.name">-->
          <!--<div class="report-label" *ngFor="let report of folder.data" (click)="reportSelected(report)">-->
            <!--<div style="margin-right: 10px; margin-left: 10px; font-size: 10pt; min-height: 30px; vertical-align: middle;">{{report.name}}</div>-->
          <!--</div>-->
        <!--</p-accordionTab>-->
      <!--</p-accordion>-->
      <!--<app-accordion *ngFor="let folder of mstrController.historylist.accordionFormat()" (buttonPressed)="reportSelected($event)" [data]="[folder]"></app-accordion>-->
      <!--<div *ngIf="user.selectedRetailer != 'Morrisons' && user.selectedRetailer != 'Sainsbury'" class="link-style" (click)="goToScreen('actuals')"><i class="fa fa-bar-chart"></i> Actuals</div>-->

    </div>
  </div>
</div>
