.slideout-container{
  width: 300px;
  position: fixed;
  top: 50px;
  height: calc(100vh - 50px);
  background-color: white;
  left: -300px;
  z-index: 5;
  overflow-x: hidden;
  transition: 0.5s;
}
.retialerLogo{
  max-height: 80px;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.link-container{
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 16pt;
}
.link-style{
  color: black;
  display:block;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  padding-left: 20px;
}
.link-style:hover{
  color: #3e567b;
  background-color: #f5f5f5;
  cursor: pointer;
}
.report-label{
  font-size: 12pt;
  margin: 0px;
  padding: 0px;
  border-bottom: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.report-label:hover{
  color: #3e567b;
  background-color: #f5f5f5;
  cursor: pointer;
}
@media only screen and (max-device-width : 1024px) {
  .link-container { font-size: 14pt; }
}
@media only screen and (max-device-width : 768px) {
  .link-container { font-size: 12pt; }
}
@media only screen and (min-device-width : 768px) {
  .sideMenu{ width: 300px; }
}
