<p-dataTable #offerTable [value]="dataArray" [rows]="10" [paginator]="true"
             [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" expandableRows="true"
             [tableStyle]="{'table-layout':'auto'}">
  <p-column expander="true" styleClass="col-icon"></p-column>
  <p-column field="promotionNumber" header="Promotion" [sortable]="true"></p-column>
  <p-column field="offerType" header="Offer Type" [sortable]="true"></p-column>
  <p-column field="brand" header="Brand" [sortable]="true"></p-column>
  <p-column field="value" header="Value" [sortable]="true">
    <ng-template let-col let-offer="rowData" pTemplate="body">
      <span>{{offer[col.field] | currency:'GBP':'symbol':'1.2-2'}}</span>
    </ng-template>
  </p-column>
  <p-column field="type" header="Type" [sortable]="true"></p-column>
  <p-column field="start" header="Start" [sortable]="true">
    <ng-template let-col let-offer="rowData" pTemplate="body">
      <span>{{offer[col.field] | date:'shortDate'}}</span>
    </ng-template>
  </p-column>
  <p-column field="endDate" header="End" [sortable]="true">
    <ng-template let-col let-offer="rowData" pTemplate="body">
      <span>{{offer[col.field] | date:'shortDate'}}</span>
    </ng-template>
  </p-column>
  <ng-template let-offer pTemplate="rowexpansion">
    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12" style="width: 100%;">
          <img *ngIf="offer.imageURL" class="couponImage" [src]="offer.imageURL" style="height: 200px; max-width: 100%">
        </div>
      </div>
    </div>
  </ng-template>
</p-dataTable>
