.row-style:hover{
  cursor: pointer;
}
.description-label{
  font-weight: bolder;
  text-align: left;
}
.responsive-center{
  position: relative;
}
.panel-body:hover{
  cursor: pointer;
}
.ellipsis-button{
  font-size: 14pt;
}
.ellipsis-button:hover{
  cursor: pointer;
}
.open-close-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20px;
  text-align: center;
  font-size: x-large;
}
.open-close-button:hover{
  cursor: pointer;
}
@media screen and (min-width: 642px){
  .responsive-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
