<div class="ui-g-12">
  <p-dataView #dv [value]="filteredReports" [paginator]="true" [rows]="20" paginatorPosition="bottom" filterBy="reportTitle"
               [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <p-header>
      <div class="ui-helper-clearfix">
          <i *ngIf="showHeader" class="fa fa-caret-down open-close-button" (click)="headerShowHideButtonPressed()"></i>
          <i *ngIf="showHeader == false" class="fa fa-caret-up open-close-button" (click)="headerShowHideButtonPressed()"></i>
        <div *ngIf="showHeader" class="ui-g">
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <p-dropdown (onChange)="updateData()" [style]="{'width': '100%'}" [showClear]="true"
                        placeholder="Filter by Report" [options]="reportCategories" [(ngModel)]="selectedCategory">
            </p-dropdown>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4 filter-container">
              <input style="width: 100%" type="search" pInputText placeholder="Search by Report Name" (keyup)="dv.filter($event.target.value)">
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4" style="text-align:right">
            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'width':'100%', 'text-align': 'left'}"></p-dropdown>
          </div>
        </div>
      </div>
    </p-header>
    <ng-template let-report pTemplate="gridItem">
      <div style="padding:.5em" class="ui-g-12 ui-md-6 ui-lg-4">
        <p-panel class="" [style]="{'text-align':'center'}">
          <p-header>
            <div class="ui-helper-clearfix">
              <p-menu #menu popup="popup" [model]="report.items"></p-menu>
              <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px; max-width: 80%;">{{report.reportCategory}}</span>
            </div>
          </p-header>
          <div class="panel-body" (click)="selectReport($event, report)">
            <img style="margin-bottom: 10px; height: 100px; width: auto; max-width: 100%" [src]="getThumbURLForReport(report)" width="60">
            <div style="overflow: hidden; white-space: nowrap; font-weight: 700;">{{report.reportTitle}}</div>
            <div style="overflow: hidden; white-space: nowrap; font-weight: 700;">{{report.reportDate | date :'shortDate'}}</div>
          </div>
        </p-panel>
      </div>
    </ng-template>
  </p-dataView>
</div>

