/* You can add global styles to this file, and also import other style files */
@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.min.css";
@import '../node_modules/font-awesome/css/font-awesome.css';
@import './assets/css/busy.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';

@font-face {
  font-family: 'Century Gothic';
  src: url('./assets/fonts/century_gothic.ttf');
}

html {
  overflow: hidden;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  height: 100vh;
  overflow: auto;
  padding:0px;
  margin: 0px;
}
.col-icon {
  width: 38px;
  text-align: center;
}
.ui-button.ui-state-active{
  background: #3e567b !important;
  box-shadow: none !important;
}
.ui-button.ui-state-default{
  box-shadow: none !important;
}
.ui-chkbox-box.ui-state-active{
  background: #3e567b !important;
}
.ui-chkbox-box.ui-state-default{
  box-shadow: none !important;
}
.ui-chkbox-box.ui-state-default.ui-state-disabled:hover{
  cursor: not-allowed !important;
}
.ui-chkbox-box.ui-state-default.ui-state-disabled:hover + label{
  cursor: not-allowed !important;
}
.ui-chkbox-label.ui-label-disabled{
  opacity: 0.35 !important;
}
.ui-calendar-button{
  background: #3e567b !important;
}
.ui-paginator-element.ui-state-active{
  background: #3e567b !important;
}
.ui-panel .ui-panel-titlebar{
  background: #3e567b !important;
  color: white !important;
  overflow: hidden;
  white-space: nowrap;
}
.ui-panel.ui-widget .ui-panel-titlebar:hover{
  cursor: default;
}
.ui-panel .ui-panel-content{
  background: whitesmoke;
}
.ui-dataview .ui-dataview-header {
  background: white;
}
.ui-datatable .ui-datatable-thead > tr > th {
  background: #3e567b;
  color: white;
}
.ui-paginator{
  background: white;
}
.ui-accordion .ui-accordion-header{
  font-size: 14pt;
  background: white;
  border: none;
  margin: 0px;
  padding: 0px;
}
.ui-accordion .ui-accordion-header:hover{
  color: #3e567b;
  background-color: #f5f5f5;
  cursor: pointer;
}
.ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a{
  color: #3e567b;
  background-color: #f5f5f5;
  cursor: pointer;
}
.ui-accordion .ui-accordion-header.ui-state-active a{
  background: #3e567b;
  color: white;
}
.ui-accordion .ui-accordion-content{
  padding: 0px;
}
