<div class="ui-g-12">
  <div [ngSwitch]="user.selectedRetailer">
    <div *ngSwitchCase="'Morrisons'"><app-forecast-grid-morrisons [dataArray]="dataArray"></app-forecast-grid-morrisons></div>
    <div *ngSwitchCase="'Sainsbury'"><app-forecast-grid-sainsbury [dataArray]="dataArray"></app-forecast-grid-sainsbury></div>
    <div *ngSwitchDefault><app-forecast-grid-us [dataArray]="dataArray"></app-forecast-grid-us></div>
  </div>
  <!--<p-dataTable #offerTable [value]="dataArray" [rows]="10" [paginator]="true"-->
               <!--[pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" expandableRows="true"-->
               <!--[tableStyle]="{'table-layout':'auto'}">-->
    <!--<p-column expander="true" styleClass="col-icon"></p-column>-->
    <!--<p-column field="promotionNumber" header="Promotion" [sortable]="true"></p-column>-->
    <!--<p-column field="manufacturer" header="Manufacturer" [sortable]="true"></p-column>-->
    <!--<p-column field="category" header="Category" [sortable]="true"></p-column>-->
    <!--<p-column field="value" header="Value" [sortable]="true">-->
      <!--<ng-template let-col let-offer="rowData" pTemplate="body">-->
        <!--<span>{{offer[col.field] | currency:'USD':'symbol':'1.2-2'}}</span>-->
      <!--</ng-template>-->
    <!--</p-column>-->
    <!--<p-column field="type" header="Type" [sortable]="true"></p-column>-->
    <!--<p-column field="objective" header="Strategy" [sortable]="true"></p-column>-->
    <!--<p-column field="start" header="Start" [sortable]="true">-->
      <!--<ng-template let-col let-offer="rowData" pTemplate="body">-->
        <!--<span>{{offer[col.field] | date:'shortDate'}}</span>-->
      <!--</ng-template>-->
    <!--</p-column>-->
    <!--<p-column field="endDate" header="End" [sortable]="true">-->
      <!--<ng-template let-col let-offer="rowData" pTemplate="body">-->
        <!--<span>{{offer[col.field] | date:'shortDate'}}</span>-->
      <!--</ng-template>-->
    <!--</p-column>-->
    <!--<ng-template let-offer pTemplate="rowexpansion">-->
      <!--<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">-->
        <!--<div class="ui-grid-row">-->
          <!--<div class="ui-grid-col-12" style="width: 100%;">-->
            <!--<img class="couponImage" [src]="getURLForPromotionNumber(offer.parentCorpKey, 'US', offer.promotionNumber)">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</ng-template>-->
  <!--</p-dataTable>-->
</div>
