<app-side-menu #sideMenu></app-side-menu>
<app-profile-menu #profileMenu></app-profile-menu>
<div *ngIf="sideMenu.isOpen" class="closePanel" (click)="sideMenu.closeMenu()"></div>
<div *ngIf="profileMenu.isOpen" class="closePanel" (click)="profileMenu.closeMenu()"></div>

<div class="customNavBar" #customNavBar>
  <i class="fa fa-bars hamburgerIcon" (click)="sideMenu.openMenu()"></i>
  <img (click)="goHome()" class="catalinaNavIcon" src="assets/images/logo.png">
  <span class="profileIcon"><i class="fa fa-user-circle" (click)="profileMenu.openMenu()" title="Profile"></i></span>
</div>
