.customNavBar{
  height: 50px;
  width: 100%;
  position: relative;
  z-index: 1;
  background: #3e567b;
}
.catalinaNavIcon{
  margin-left: 50px;
  position: absolute;
  top: 50%;
  max-width: 45%;
  max-height: 30px;
  transform: translateY(-50%);
}
.catalinaNavIcon:hover{
  cursor: pointer;
}
.hamburgerIcon{
  color: white;
  margin-left: 20px;
  font-size: larger;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hamburgerIcon:hover{
  color: #999999;
  cursor: pointer;
}
.closePanel{
  top: -30px;
  width: 100vw;
  height: calc(100vh + 30px);
  opacity: 0.2;
  background: black;
  z-index: 3;
  position: fixed;
}
.profileIcon{
  color: white;
  font-size: x-large;
  position: absolute;
  right: 20px;
  top: 10px;
}
.profileIcon:hover{
  cursor: pointer;
}
